{% load static %}

{% block content %}

<div class="h-100 w-auto container">
    <div class="d-flex flex-wrap flex-md-nowrap align-content-around justify-content-between">
        <div class="w-100 card m-2" style="height: 40vh;">
            <div class="card-header d-flex justify-content-between pb-0 pe-2">
                <div class="d-flex justify-content-start">
                    <div class="bi bi-terminal-fill"></div>
                    <div class="card-title ms-2">Code</div>
                </div>
                <div>
                    <div id="{{ id }}" class="loader me-1" style="color: #2A76DD;" onclick="runCode(this.id)"></div>
                </div>
            </div>

            <div id="editor-{{ id }}" class="card-body overflow-auto rounded-bottom w-100 h-100 p-0 pt-3"
                style="background-color: #272822;">
                <iframe id="iframe-{{ id }}" class="ace" width=100% height=100%
                    data-onchange="console.log(editor.getValue())">{{ code }}</iframe>
            </div>
        </div>
        <div class="w-100 card m-2" style="height: 40vh;">
            <div class="card-header d-flex justify-content-between pb-0">
                <div class="d-flex justify-content-start">
                    <div class="bi bi-chat-right-dots-fill"></div>
                    <div class="card-title ms-2">Output</div>
                </div>
            </div>
            <div class="card-body overflow-auto">
                <div id="output-{{ id }}" class="output justify-content-center"></div>
            </div>
        </div>
    </div>
</div>

<!-- py-editor -->
<script type="py" config="{% static 'py-editor/pyscript.json' %}"></script>
<script src="{% static 'py-editor/run.js' %}"></script>
<script type="py" src="{% static 'py-editor/loader.py' %}"></script>
<link rel="stylesheet" href="{% static 'py-editor/py-editor.css' %}">

{% endblock %}